<p>Welcome to login Page</p>
<form #userform="ngForm">
    <table>

        <h1>Login Page</h1>

        <tr>
            <td><label>Id</label></td>
            <td> <input #idField="ngModel" type="text" name="id" [(ngModel)]="user.id" required>
                <span *ngIf="idField.invalid && idField.touched">User id is Must</span>
            </td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td>
                <input #emailField="ngModel" type="text" name="email" [(ngModel)]="user.email" required> 
            <span *ngIf ="emailField.invalid && emailField.touched">email is Must</span>
            </td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td>
                <input #passwordField="ngModel" type="text" name="password" [(ngModel)]="user.password" required> 
            <span *ngIf ="passwordField.invalid && passwordField.touched">Password is Must</span>
            </td>
        </tr>
        <td><label>Login</label></td>

        <td>

            <input type="button"[disabled]="userform.invalid" value="Login" (click)="performLogin()">


        </td>
    </table>